.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color:#f3904a !important;
  line-height: 0.3 !important;
}

.card-header{
  text-align: left;
  line-height: 1.5 !important;
  background-color:#d8d5ce !important;
  padding: 0.1rem 1.25rem !important;
}

.card-body{
  padding: 0.5rem !important;
}
.footer{
  line-height: 0.1;
}

.app-container{
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: left;
}

.menu-header{
  position: fixed !important;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0 !important;
}

.card{
  margin-top: 40px;
}

.tbl-head{    
  background-color: #343a40 !important;
  color: #fff;
}

.table th,.table td{
  padding: 0.25rem!important;
  font-weight: normal;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white)!important;
}

.react-bootstrap-table-pagination{
 width: 90%;
}


.expanded-table{
  width: 97vw;
  overflow-x: scroll;
  white-space: nowrap;
}